{{>partials/header}}
    Oi

    <p>Oi! Você tem {{age}} anos</p>

    {{#menorDeIdade}}
        Here's your suquinho
    {{/menorDeIdade}}

    {{^menorDeIdade}}
        Here's your cachaça
    {{/menorDeIdade}}

    <ul>
        {{#frases}}
        <li>{{.}}</li>
        {{/frases}}
    </ul>

    {{^frases}}
        <p>Não há frases hoje</p>
    {{/frases}}

    <ul>
        {{#top3}}
        <li>Álbum: {{title}} Artista: {{artist}}</li>
        {{/top3}}
    </ul>

    Produtinhos: 
    <ul>{{#produtos}}
        <li>{{title}} - {{price}}</li>
    {{/produtos}}
    </ul>
{{>partials/footer}}