<html>
    <head>
        <title>Testeeee</title>
    </head>
    <body>
        <h1>Teste</h1>
        <p>Oi! Você tem {{age}} anos</p>

        {{#menorDeIdade}}
        Here's your suquinho
        {{/menorDeIdade}}


    </body>
</html>